<div class="loginPage">
  <div class="cantainer">
    <div class="loginPage_contents">
      <h1>新しいマッチを見つけよう</h1>
      <%= link_to "ログインする", new_user_session_path, class: "btn loginPage_contents_btn" %>
    </div>
  </div>
</div>
